html,
body {
  margin: 0;
  padding: 0;
}

#root {
  background-color: #e5e5e5;
}

.page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 1010px;
  margin: 0 auto;
  background-color: #fff;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
